/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  color: var(--accent-color);
  background-image: repeating-linear-gradient(
      180deg,
      var(--background-color-gradient-line) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      90deg,
      var(--background-color-gradient-line) 4px 6px,
      transparent 6px 8px
    ),
    linear-gradient(
      180deg,
      var(--background-color-gradient-start) 0.01%,
      var(--background-color-gradient-end)
    );
  background-color: var(--background-color);
  background-size: cover;
  font-variation-settings: "wght" var(--main-font-text-weight);
}

.header {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  margin-block-start: 100px;
  block-size: 368px;
  inline-size: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  border: 2px solid var(--accent-color);
}

.header__title {
  font-weight: var(--main-font-text-weight);
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__subtitle {
  font-weight: var(--main-font-text-weight);
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  margin-block-start: 20px;
}

.header__theme-menu {
  margin-block-start: 25px;
  margin-block-end: 18px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

.theme-menu__button {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  font-weight: var(--main-font-text-weight);
  font-size: 14px;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:after {
  display: block;
  content: "";
  block-size: 2px;
  background-color: var(--accent-color);
  transition: 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible:after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  margin-left: -20px;
  animation: arrow 0.5s infinite ease-in-out alternate;
}

.main {
  margin-block-start: 100px;
  inline-size: clamp(320px, 100%, 700px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__container-cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.main__card-image {
  object-fit: cover;
  inline-size: 100%;
  max-block-size: 696px;
  block-size: clamp(23.125rem, 15.951rem + 30.61vw, 43.5rem);
}

.prepare {
  filter: saturate(150%);
}

.beginning {
  filter: grayscale(0.8);
}

.success {
  filter: hue-rotate(-330deg);
}

.hard_work {
  filter: contrast(80%);
}

.care {
  filter: sepia(50%);
}

.support {
  filter: saturate(2.2);
}

.sad {
  filter: grayscale(0.8) blur(0.3rem);
}

.js {
  filter: drop-shadow(5px 15px 3px rgba(0, 0, 0, 0.8));
}

.main__card-title {
  border-bottom: 2px solid var(--accent-color);
  font-variation-settings: "wght" var(--main-font-title-weight);
  font-size: 18px;
  padding: 5px 5px 4px 10px;
  line-height: 21.78px;
}

.main__card-container {
  display: flex;
  position: relative;
}

.main__card-label {
  position: absolute;
  font-size: 14px;
  font-family: var(--accent-font), fantasy;
  font-weight: var(--main-font-text-weight);
  background-blend-mode: hard-light;
  right: 25px;
  top: 25px;
  opacity: 0.5;
  text-shadow: var(--text-stroke-color) 0 0 1px;
  z-index: 1;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) or
  (text-stroke: 1px var(--text-stroke-color)) {
  .main__card-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.main__card-footer {
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--accent-color);
}

.main__card-text,
.main__card-subtext {
  font-weight: var(--main-font-text-weight);
  font-size: 18px;
}

.main__card-subtext {
  margin-block: 25px 27px;
}

.main__card-container-btn {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.main__card-button {
  border: 2px solid var(--accent-color);
  font-weight: var(--main-font-text-weight);
  font-size: 14px;
  font-family: var(--accent-font), fantasy;
  background-color: transparent;
  inline-size: 130px;
  block-size: 38px;
  line-height: 12.6px;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
}

.button__text {
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.main__footer {
  margin-block-start: 52px;
  margin-block-end: 105px;
}

.main__footer-btn {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: clamp(19.063rem, 18.527rem + 2.679vi, 20.938rem);
  block-size: 55px;
  border: 2px solid var(--accent-color);
  font-size: 14px;
  font-weight: var(--main-font-text-weight);
  font-family: var(--accent-font), fantasy;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
}

.footer-img {
  inline-size: 21px;
  block-size: 21px;
  margin-inline-end: 8px;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.main__card-button:focus,
.main__footer-btn:focus,
.dialog_btn:focus {
  outline: none;
}

.main__card-button:focus-visible,
.main__footer-btn:focus-visible,
.dialog_btn:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.main__card-button::before,
.main__footer-btn::before,
.dialog_btn::before {
  content: "";
  background: var(--accent-color);
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
}

.main__card-button:hover::before,
.main__footer-btn:hover::before,
.dialog_btn:hover::before {
  transform: scaleX(1);
}

.dialog[open] {
  background: var(--background-color);
  inline-size: 357px;
  block-size: 193px;
  border: 2px solid var(--accent-color);
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  transition: opacity 15.3s ease-in-out;
  padding: 30px;
}

.dialog_img {
  width: 39px;
  height: 39px;
  justify-self: center;
  color: var(--accent-color);
}

.dialog_text,
.dialog_btn {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: var(--main-font-text-weight);
  font-family: var(--accent-font), fantasy;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__form {
  grid-column: span 2;
}

.dialog_btn {
  text-transform: uppercase;
  inline-size: 100%;
  block-size: 38px;
  background-color: transparent;
  font-size: 14px;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

@media (width <= 375px) {
  .header {
    block-size: 327px;
  }

  .main__card-label {
    right: 11px;
    top: 22px;
  }

  .main__card-footer {
    border-top: 3px solid var(--accent-color);
  }

  .footer-img {
    inline-size: 28px;
    block-size: 28px;
    margin: 0;
  }

  .main__footer-btn {
    block-size: 84px;
    flex-direction: column;
    gap: 8px;
  }
}
