/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  color: var(--accent-color);
  background-image: repeating-linear-gradient(180deg, var(--background-color-gradient-line), transparent 2px),
  repeating-linear-gradient(90deg, var(--background-color-gradient-line), transparent 2px),
  linear-gradient(180deg, var(--background-color-gradient-start) 0.01%, var(--background-color-gradient-end));
  background-color: var(--background-color);
  background-size: cover;
  /* font-variation-settings: "wght" var(--main-font-text-weight); */
}

.header {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  margin-block-start: 100px;
  block-size: 368px;
  /* inline-size: 700px; */
  /* width: clamp(23.438rem, 8.929rem + 38.69vw, 43.75rem); */
  /* inline-size: clamp(20rem, 13.214rem + 33.929vi, 43.75rem); */
  /* inline-size: 320px; */
  inline-size: clamp(320px, 100%, 700px);
  border: 2px solid var(--accent-color);
 
}

.header__title {
  font-weight: var(--main-font-text-weight);
  /* font-size: 65px; */
  /* font-size: clamp(3.063rem, 2.777rem + 1.429vw, 4.063rem); */
  /* font-size: clamp(3.063rem, 2.777rem + 1.429vi, 4.063rem); */
  font-size: clamp(2.813rem, 2.455rem + 1.786vw, 4.063rem);
  /* font-size: clamp(45px, 60%, 65px); */
  
}

.header__subtitle {
  font-weight: var(--main-font-text-weight);
  /* font-size: 23px; */
  font-size: clamp(0.875rem, 0.714rem + 0.804vi, 1.438rem);
  margin-block-start: 20px;
}

.header__theme-menu {
  margin-block-start: 25px;
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px; 
}

.theme-menu__button {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  font-weight: var(--main-font-text-weight);
  font-size: 14px;
  cursor: pointer;
}

.theme-menu__button:hover  {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:after {
  display: block;
  content: ""; 
  height: 2px; 
  background-color: var(--accent-color);
  transition: 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible:after {
  transform: scaleX(1)
}

.theme-menu__button:disabled{
  pointer-events: none; 
  opacity: 0.6;
} 

.theme-menu__button:disabled::before{
  content: "▶";
  position: absolute;
  margin-left: -20px; 
  animation: arrow 0.5s infinite ease-in-out alternate;
} 

.main {
  margin-block-start: 100px;
  /* inline-size: 700px; */
  inline-size: clamp(320px, 100%, 700px);
  /* inline-size: clamp(23.438rem, 8.929rem + 38.69vw, 43.75rem); */
  /* inline-size: clamp(20rem, 13.214rem + 33.929vi, 43.75rem); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* inline-size: 320px; */
}

.main__container-cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.main__card-image {
  /* border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color); */
  /* inline-size: 100%; */
  object-fit: cover;
  inline-size: 100%;
  max-block-size: 686px;
}

.prepare {
  filter: saturate(150%);
} 

.beginning {
  filter: grayscale(0.8);
}

.success {
  filter: hue-rotate(-330deg);
}

.hard_work {
  filter: contrast(80%);
}

.care {
  filter: sepia(50%);
}

.support {
  filter: saturate(2.2);
}

.sad {
  filter: grayscale(0.8) blur(0.3rem);
}

.js {
  filter: drop-shadow(5px 15px 3px rgba(0, 0, 0, 0.8));
}


.main__card-title {
  border-bottom: 2px solid var(--accent-color);
  font-weight: var(--main-font-title-weight);
  font-size: 18px;
  padding: 3px 0 3px 10px;
}

.main__card-container {
  position: relative;
}

.main__card-label {
  position: absolute;
  font-size: 14px;
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--main-font-text-weight);
  background-blend-mode: hard-light;
  right: 25px;
  top: 25px;
  opacity: 0.5;
  text-shadow: var(--text-stroke-color) 0 0 1px;
  z-index: 1;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) {
  .main__card-label {
    text-shadow:none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
}


.main__card-footer {
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--accent-color);
}

.main__card-text, .main__card-subtext  {
  font-weight: var(--main-font-text-weight);
  font-size: 18px;
}

.main__card-subtext {
  margin-block: 25px 27px;
}

.main__card-container-btn {
  display: flex;
  align-items: center;
  align-self: flex-end; 
}


.main__card-button {
  border: 2px solid var(--accent-color);
  font-weight: var(--main-font-text-weight);
  font-size: 14px;
  font-family: var(--accent-font), sans-serif;
  background-color: transparent;
  /* padding: 10px 35px; */
  inline-size: 130px;
  block-size: 40px;
  line-height: 12.6px;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
  
}

.button__text {
  /* position: absolute; */
  /* z-index: 1; */
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.main__footer {
  
  margin-block-start: 52px;
  margin-block-end: 105px;
}

.main__footer-btn {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 18px 20px; */
  inline-size: clamp(19.063rem, 18.527rem + 2.679vi, 20.938rem);
  /* inline-size: clamp(306px, 100%, 335px); */
  block-size: 55px;
  border: 2px solid var(--accent-color);
  font-size: 14px;
  font-weight: var(--main-font-text-weight);
  font-family: var(--accent-font), sans-serif;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
}

.footer-img {
  inline-size: 21px;
  block-size: 21px;
  margin-inline-end: 8px;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.main__card-button:focus, .main__footer-btn:focus, .dialog_btn:focus {
  outline: none;
}

.main__card-button:focus-visible, .main__footer-btn:focus-visible, .dialog_btn:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.main__card-button::before, .main__footer-btn::before, .dialog_btn::before {
  content: '';
  background: var(--accent-color);
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  transform:scaleX(0);
  transform-origin: left;
}

.main__card-button:hover::before, .main__footer-btn:hover::before, .dialog_btn:hover::before {
  transform: scaleX(1);
}

.dialog[open] {
  background: var(--background-color);
  inline-size: 357px;
  block-size: 193px;
  border: 2px solid var(--accent-color);
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
  display: grid;
  /* grid-template-columns: 30% 70%; */
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  transition: opacity 15.3s ease-in-out;
  padding: 30px;

}

.dialog_img {
  width: 39px;
  height: 39px;
  justify-self: center;
  color: var(--accent-color);
}

.dialog_text,.dialog_btn {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: var(--main-font-text-weight);
  font-family: var(--accent-font), sans-serif;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog_btn {
  /* display: block; */
  text-transform: uppercase;
  grid-column: span 2;
  /* inline-size: 293px; */
  block-size: 38px;
  background-color: transparent;
  font-size: 14px;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
  background-color: var(--background-color);
  
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
} 

@media (width <= 375px) {
  .header {
    block-size: 327px;
    /* inline-size: 100%; */
    /* inline-size: 100%; */
  }

  .main {
    /* inline-size: 100%; */
  }
  .footer-img {
    inline-size: 28px;
    block-size: 28px; 
    margin: 0;
  }

  .main__footer-btn {
    block-size: 84px;
  }
}